{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Display</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">
</head>
<body>
    <h1 class="sampleclass">Hello World</h1>
</body>
</html>