{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <form method="POST">
            <table class="table is-striped" align="center">
                {% csrf_token %}

                <tr><td>Name</td> <td>{{ student.name }}</td></tr>
                <tr><td>Email</td> <td>{{ student.email }}</td></tr>
                <tr><td> DB_Folder</td> <td>{{ student.db_folder }}</td></tr>
                <tr><td>Dropped Out</td> <td>{{ student.dropped_out }}</td></tr>

                <tr><td>Problem 1</td> <td>{{ mocktest1.problem1 }}</td></tr>
                <tr><td>Problem 2</td> <td>{{ mocktest1.problem2 }}</td></tr>
                <tr><td>Problem 3</td> <td>{{ mocktest1.problem3 }}</td></tr>
                <tr><td>Problem 4</td> <td>{{ mocktest1.problem4 }}</td></tr>
                <tr><td><input type="submit"></td></tr>
            </table>
        </form>
    </body>
</html>