{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add College</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">

</head>
<body>

    <form method="POST">
        {% csrf_token %}

        Name: {{ form.name }}
        Location: {{ form.location }}
        Acronym: {{ form.acronym }}
        Contact: {{ form.contact }}
        <input type="submit">
    </form>
</body>
</html>