{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <h3>Colleges</h3>
        <a class="button is-info is-rounded" href="{% url 'add_college' %}">Add College</a>
        <table class="table is-hoverable is-striped is-fullwidth" align="center">
            <tr>
                <td>Acronym</td>
                <td>College</td>
            </tr>
            {% for college in colleges %}
                <tr>
                    <td>{{ college.acronym }}</td>
                    <td><a href="{% url 'college_students' pk=college.id %}">{{college.name}}</a></td>
                    <td><a class="button is-primary is-rounded" href="{% url 'edit_college' pk=college.id %}">Edit</a></td>
                    <td><a class="button is-danger is-rounded" href="{% url 'delete_college' pk=college.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>