{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor App</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="http://localhost:8000/">
            <span class="has-text-primary">
              Mentor App
            </span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="http://localhost:8000/signup/">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="http://localhost:8000/login/">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
</body>
</html>