{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>
<body>
    <form method="POST">
        {% csrf_token %}

        {{ login_form.username }}
        {{ login_form.password }}
        <input type="submit">
    </form>

    <a type="button is-info is-rounded" href="http://localhost:8000/signup/">SignUp</a>
</body>
</html>