{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Table</title>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>
</head>
<body>
    <h3>{{ collegeName }}</h3>
    <a class="button is-info is-rounded" href="{% url 'add_student_mocktest' college_id=collegeId %}">Add Student</a>
    <table class="table is-striped" align="center">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Total</td>
        </tr>
        {% for name, email, total, collegeId, studentId in students %}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{total}}</td>
                <td><a class="button is-primary is-rounded" href="{% url 'edit_student_mocktest' college_id=collegeId student_id=studentId %}">Edit</a></td>
                <td><a class="button is-danger is-rounded" href="{% url 'delete_student_mocktest' college_id=collegeId student_id=studentId %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>