.greenstyle {
    color: darkolivegreen; /* sets the color of the text */
    font-family: Helvetica ; /* use Helvetica font */
    font-size: large; /* use large size fonts */
}

.titlestyle {
    color:blueviolet;
    text-align: center;
}