<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lists</title>
</head>
<body>
    <table border="1">
        {% for list in lists %}
            <tr>
                <td>{{list.name}}</td>
                <td>{{list.created}}</td>
                <td><a href="http://127.0.0.1:8000/todoapp/list/{{list.id}}">items</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>