<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
    <table border="1">
        {% for item in items %}
            <tr>
                <td>{{item.description}}</td>
                <td>{{item.due_date}}</td>
                <td>{{item.completed}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>