{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>

        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'all_matches' %}">
                    <img src="https://th.thgim.com/sport/cricket/3sk9kq/article26312848.ece/alternates/FREE_660/IPL" width="50">
                </a>
            </div>

            <div class="navbar-end">
                <div class="tabs">
                    <ul>
                        <li><a href="{% url 'match_innings' match_id=match_id innings=1 %}">1st Innings</a></li>
                        <li><a href="{% url 'match_innings' match_id=match_id innings=2 %}">2nd Innings</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <h3>
            Team1: {{ match.team1 }}<br>
            Team2: {{ match.team2 }}<br>
            Toss Winner: {{ match.toss_winner }}<br>
            Toss Decision: {{ match.toss_decision }}<br>
            Winner: {{ match.winner }}<br>
            Player of the Match: {{ match.player_of_match }}<br>
        </h3>

        <table class="table is-striped is-fullwidth is-bordered" align="center">
            <tr>
                <td>Inning</td>
                <td>Over</td>
                <td>Batsman</td>
                <td>Non Striker</td>
                <td>Bowler</td>
                <td>Extra Runs</td>
                <td>Runs</td>
            </tr>

            {% for ball in balls %}
                <tr>
                    <td>{{ ball.inning }}</td>
                    <td>{{ ball.over }}</td>
                    <td>{{ ball.batsman }}</td>
                    <td>{{ ball.non_striker }}</td>
                    <td>{{ ball.bowler }}</td>
                    <td>{{ ball.extra_runs }}</td>
                    <td>{{ ball.total_runs }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>