{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'all_matches' %}">
                    <img src="https://th.thgim.com/sport/cricket/3sk9kq/article26312848.ece/alternates/FREE_660/IPL" width="50">
                </a>
            </div>
        </nav>


        <form method="POST">
        {% csrf_token %}

        <table class="table is-bordered is-hoverable" align="center">
            <tr><td>{{ login_form.username }}</td></tr>
            <tr><td>{{ login_form.password }}</td></tr>

            <tr><td>
                <div class="control">
                    <button class="button is-link">Login</button>
                </div>
            </td></tr>
        </table>
    </form>
    </body>

</html>