{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'all_matches' %}">
                    <img src="https://th.thgim.com/sport/cricket/3sk9kq/article26312848.ece/alternates/FREE_660/IPL"  width="50">
                </a>
            </div>

            <div class="navbar-item">
                <a class="button is-info is-rounded" href="{% url 'points' season=2019 %}">Points</a>
            </div>


            <div class="navbar-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                          Season
                        </button>
                    </div>

                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for season_year in seasons %}
                                <a href="{% url 'season_matches' season=season_year %}" class="dropdown-item">
                                    {{ season_year }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <h3 style="padding:10px">
                                {{ user }}
                            </h3>
                            <a class="button is-primary" href="{% url 'logout' %}">
                              <strong>Log Out</strong>
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{% url 'signup' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <table class="table is-striped is-fullwidth is-bordered" align="center">
            <tr>
                <td>Team 1</td>
                <td>Team 2</td>
                <td>Venue</td>
                <td>Toss Result</td>
                <td>Toss Decision</td>
                <td>Result</td>
                <td>Player of Match</td>
                <td>Ball View</td>
            </tr>

            {% for match in matches %}
                <tr>
                    <td>{{ match.team1 }}</td>
                    <td>{{ match.team2 }}</td>
                    <td>{{ match.venue }}</td>
                    <td>{{ match.toss_winner }}</td>
                    <td>{{ match.toss_decision }}</td>
                    <td>{{ match.result }}</td>
                    <td>{{ match.player_of_match }}</td>
                    <td>
                        <a class="button is-info is-rounded" href="{% url 'balls' match_id=match.id %}">
                            View Match Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div align="center">
            {% if matches.has_next %}
                <a class="button is-info is-rounded" href="?page={{ matches.prev_page_number }}">prev</a>
                <a class="button is-info is-rounded" href="?page={{ matches.next_page_number }}">next</a>
                <a class="button is-info is-rounded" href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </body>
</html>