{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'all_matches' %}">
                    <img src="https://th.thgim.com/sport/cricket/3sk9kq/article26312848.ece/alternates/FREE_660/IPL"  width="50">
                </a>
            </div>

            <div class="navbar-item">
                <a class="button is-info is-rounded" href="{% url 'points' season=2019 %}">Points</a>
            </div>

            <div class="navbar-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                          Season
                        </button>
                    </div>

                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for season_year in seasons %}
                                <a href="{% url 'points' season=season_year %}" class="dropdown-item">
                                    {{ season_year }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <h3 style="padding:10px">
                                {{ user }}
                            </h3>
                            <a class="button is-primary" href="{% url 'logout' %}">
                              <strong>Log Out</strong>
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{% url 'signup' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <table class="table is-striped is-bordered" align="center">
            <tr>
                <td>Team</td>
                <td>Points</td>
            </tr>

            {% for team in team_points %}
                {% if team.winner != "" %}
                    <tr>
                        <td>{{ team.winner }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>