{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
        <form method="POST">
        {% csrf_token %}

        <table class="table is-bordered is-hoverable" align="center">
            <tr><td>{{ signup_form.firstname }}</td></tr>
            <tr><td>{{ signup_form.lastname }}</td></tr>
            <tr><td>{{ signup_form.username }}</td></tr>
            <tr><td>{{ signup_form.password }}</td></tr>

            <tr><td>
                <div class="control">
                    <button class="button is-link">Sign Up</button>
                </div>
            </td></tr>
        </table>
    </form>
    </body>

</html>